body {
  text-align: center;
  background-color: rgb(26, 24, 24);
  font-family: luminari;
}

.pizzaBanner {
  border-width: 50;
  width: 900px;
  height: 200px;
  
}
.shopName {
  position: absolute;
  color: brown;
  font-size: x-large;
  top: 8px;
  left: 300px;
  transform: rotate(-5deg);
}

.menu {
  background-color: rgb(229, 229, 147);
}

#total {
  display:none;
  color:red;
  font-weight: bolder;
}